@font-face {
  font-family: NiveauGroteskBold;
  src: url(NiveauGroteskBold.otf)
}

@font-face {
  font-family: NiveauGroteskExtraLight;
  src: url(NiveauGroteskExtraLight.otf)
}

a {
  text-decoration: none;
  color: #ffffff;
}

b {
  color: #24a824;
}

p {
  font-family: NiveauGroteskExtraLight;
}

h1 {
  font-family: NiveauGroteskBold;
}

.email {
  display: none;
}

.fa-facebook-official:hover {
  color: #d5dbdb;
}

.fa-twitter:hover {
  color: #d5dbdb;
}

.fa-instagram:hover {
  color: #d5dbdb;
}

.fa-linkedin:hover {
  color: #d5dbdb;
}

.fa-file-text:hover {
  color: #d5dbdb;
}

.fa-envelope-o:hover {
  color: #d5dbdb;
}

.fa-fw {
  margin-right: 5%;
}

.img-circle {
  /*float: left;*/
  vertical-align: middle;
  border-radius: 50%;
  height: 100px;
  weight: 100px;
}
